"C:\Users\20192010\OneDrive - TU Eindhoven\AA_Vakken\AA_Active vakken\Afstuderen\Github_code\lightning_logs\"
"C:\Users\20192010\OneDrive - TU Eindhoven\AA_Vakken\AA_Active vakken\Afstuderen\Github_code\wandb\"